<app-header></app-header>
<div id="wrapper">
  <app-sidenav></app-sidenav>
  <div id="content-wrapper">

    <div class="container-fluid">

      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Device Name</a>
        </li>
        <li class="breadcrumb-item active">{{currentEquipment.name}}</li>
      </ol>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Equipment Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Name" value="{{currentEquipment.name}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Vendor</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Vendor"  value="{{currentEquipment.vendor}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Location</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Location"  value="{{currentEquipment.location}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Model</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Model"  value="{{currentEquipment.model}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Serial#</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Serial#" value="{{currentEquipment.serial}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description"  value="{{currentEquipment.description}}">
                </div>
              </form>
            </div>
            <div class="col-md-4">
              <ul class="list-group">
                <li class="list-group-item" *ngFor='let equipment of equipments' (click)="updateEquipment(equipment.name)" style="cursor:pointer;">{{equipment.name}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
